body {
    background: linear-gradient(90deg, rgb(36, 112, 112), rgb(76, 76, 141));
}

header {
    font-size: 40px;
    color: rgb(255, 251, 251);
    text-align: center;
    margin-bottom: 20px;
    background-color: rgb(6, 41, 169);
}


#data-entries {
    margin: auto;
    text-align: center;
    font-size: 25px;
    background-color: rgb(85, 74, 152);
    color: white;
    border-style: groove;
    border-color: black;
    width: 10cm;
    height: 8cm;
    box-shadow: 6px 6px 1px rgba(0, 0, 0, 0.35);
}


#data-output {
    font-size: 22px;
    text-align: center;
    margin: auto;
    margin-top: 1cm;
    width: 700px;
    height: 300px;
    overflow: auto;
}

tr {
    background-color: #6273c7b0;
    color: white;
}

.table {
    border-style: groove;
    border-color: black;
}

.btn {
    font-size: 22px;
    margin-left: 4px;
    border-color: black;
}

.inputs {
    font-size: 22px;
    background-color: rgba(76, 79, 165, 0.512);
    color: white;
    border-color: black;
    border-radius: 4px;
    text-align: center;
    margin: auto;
    display: flex;
}