body {
    background-color: rgb(54, 53, 53);
}

h1 {
    font-size: 40px;
    color: rgb(255, 251, 251)
}

#content {
    margin: auto;
    text-align: center;
    font-size: 25px;
    background-color: rgb(97, 96, 96);
    color: white;
    border-style: groove;
    border-color: black;
    border-radius: 12px;
    width: 30cm;
}

#data-output {
    text-align: center;
    margin: auto;
    margin-top: 12px;
    width: 800px;
    height: 270px;
    overflow: auto;
}

.table {
    border-color: black;
    border-style: groove;
}

.btn {
    font-size: 20px;
    margin-left: 4px;
    margin-top: 4px;
    border-color: black;
}

.inputs {
    font-size: 22px;
    background-color: rgb(95, 95, 95);
    color: white;
    border-color: black;
    border-radius: 4px;
    text-align: center;
}